SQL Assignment - 2

Title: Counting Organizations

This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

CREATE TABLE Counts (org TEXT, count INTEGER)

When you have run the program on mbox.txt upload the resulting database file above for grading.

If you run the program multiple times in testing or with different files, make sure to empty out the data before each run.

The data file for this application is mbox.txt


The expected output from this task is;

“
Enter file name: mbox.txt
Counts:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
”

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('emaildb.sqlite')

In [3]:
cur = conn.cursor()

In [4]:
cur.execute('''
DROP TABLE IF EXISTS Counts''')

In [5]:

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [17]:
fname = input('Enter file name: ')

Enter file name:

In [18]:
if ( len(fname) < 1 ) : fname = 'mbox.txt'

In [23]:
fh = open(fname)
fh

In [25]:
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1]
    parts = email.split('@')
    org = parts[-1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org, ))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count) 
                VALUES ( ?, 1 )''', ( org, ) )
    else :
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?',
            (org, ))
    conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'


print("Counts:")
for row in cur.execute(sqlstr) :
    print (str(row[0]), row[1])

Counts:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17